* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e8fff4;
    color: #033d3d;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #c6f5df;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}
.logo span {
    color: #0da387;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #033d3d;
    font-weight: 500;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 60px;
    background: linear-gradient(to right, #aaf0d1, #86e3c3);
}

.hero-content h1 {
    font-size: 50px;
}
.hero-content span {
    color: #0da387;
}
.hero-content p {
    width: 50%;
    margin: 15px 0;
    font-size: 18px;
}
.btn {
    padding: 12px 25px;
    background: #0da387;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

/* Section Title */
.section-title {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 20px;
    padding: 30px 60px;
}

.skill-card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 8px #90dfc7;
    font-weight: 600;
}

/* Projects */
.projects {
    padding: 30px 60px;
}
.project-card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #0da387;
    border-radius: 6px;
}

/* Contact */
.contact {
    padding: 30px 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    border: 1px solid #0da387;
    border-radius: 5px;
}

button {
    background: #0da387;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Social Links */
.socials {
    margin-top: 20px;
}
.socials a {
    text-decoration: none;
    margin-right: 15px;
    color: #0da387;
    font-weight: bold;
}
